.sizing {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

.jumbotron {

    background-color: white;
    /* text-align: center; */

}

#listhere {

  list-style-type: none;
}