<div class="container-md sizing">
  <div class="row">
    <div class="col">

      <div class="row daysandcountry">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-2">20 days in France</h1>
            <p class="lead">
              Making the most of your time in the land of cheese and wine!
            </p>
          </div>
        </div>

      </div>

      <div class="row inputbar">
        <h1 class="display-6">your adventure list</h1>

        <div class="col-sm-4 offset-sm-4">
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
              id="todos"
            />
            <button type="button" class="btn btn-light" id="addbtn">add</button>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col">

          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              type="button"
              class="btn btn-outline-secondary activenotes"
            >active notes</button>

            <button
              type="button"
              class="btn btn-outline-secondary savednotes"
            >saved notes</button>
          </div>
          {{! active notes }}
          <div class="currentlist">
            <ul id="listhere">

            </ul>
          </div>
          {{! saved notes }}
          <div class="displaysavedlist">

            <ul id="savedlisthere">
              <p>herld</p>
            </ul>

          </div>
        </div>
      </div>

    </div>
  </div>

</div>