.sizing {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 10vh;
  }

.jumbotron {

    background-color: white;
    /* text-align: center; */

}

.inputbar{

  margin-top: 20px;

}

.adventurelist{
  margin-bottom: 15px;
}

#listhere, #savedlisthere {

  list-style-type: none;
  padding: 0;
}



/* li {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ff5d88;
  color: white;
  font-size: 1.5em;
  line-height: 1.5;
} */

.samebtn{

background-color: transparent;


}

.textdetails{

  font-size: 16px;
  padding-right: 60px;
  text-align: left;
}

.change {

  text-size-adjust: 75px;
}

.displaysavedlist {

  display: none;
  margin-top: 20px;

}

.currentlist {

  display: block;
  margin-top: 20px;

}